<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师&班级对应表</title>
    <style>
        body{
            background-color: #eceff1 ;
        }
        div{
            background-color: white;
        }
    </style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="./main.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$.ajax({
			url:"http://localhost:8080/queryTeacherAndClassGList",
			type: "GET",
			dataType: 'json',
			success: function(jsonlist){
				console.log(data);
				if(data===true){
					location.reload();
				}
			}
		})
	</script>
</head>
<body >

<div>
    <center>
        <h1>教师&班级对应表</h1>
    </center>
</div>
<div style="margin-top: 50px;padding-left: 100px;">
    <table class="table" style="width: 788px;float: left;">
        <thead>
        <tr>
            <th>教师编号</th>
            <th>教师名字</th>
            <th>所教班级</th>
			<th>所教科目</th>
			<th>邮箱</th>
        </tr>
        </thead>
        <tbody>
			
        <tr>
            <td>
                 <div>
                     <a href=""><!--转到资料显示页面-->
                         2018401144
                     </a>
                 </div>
            </td>
            <td>Anna</td>
            <td>三班</td>
			<td>三班</td>
			<td>三班</td>
        </tr>
       
        </tbody>
    </table>
</div>
<div style="height: 220px;width: 379px;float: right;margin-right: 200px;background-color:#eceff1 ">
    <center>
        <h2 style="margin-top: 20px;margin-bottom: 10px">检索</h2>
    </center>
    <center>
        <select name="class" data-am-selected="{searchBox: 1,btnWidth: '20%'}" style="width:54px;height:34px;background:white;margin-top: 10px;margin-bottom: 10px">
            <option value="1">1班</option>
            <option value="2">2班</option>
            <option value="3">3班</option>
            <option value="4">4班</option>
            <option value="5">5班</option>
        </select>
        <select name="sex" data-am-selected="{searchBox: 1,btnWidth: '20%'}" style="width:54px;height:34px;background:white;margin-top: 10px;margin-bottom:10px">
            <option value="1">全部</option>
            <option value="2">男</option>
            <option value="3">女</option>
        </select>
        <button onclick="">检索</button>
        <input type="text" style="width: 60%;height: 34px">
        <button onclick="">搜索</button>
    </center>
</div>
</body>
</html>